<a href="https://colab.research.google.com/github/GaryMarmon/vim/blob/master/AI_Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from datetime import datetime
import pandas as pd
import numpy as np
import seaborn as sns
import os
import random
import matplotlib
import matplotlib.pyplot as plt
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import mean_squared_error

#MovieLens Data

In [ ]:
import pandas as pd
import numpy as np
import os
data_path = '/content/drive/MyDrive/AI_P2/'
movies_filename = '/content/drive/MyDrive/AI_P2/movie.csv'
ratings_filename = '/content/drive/MyDrive/AI_P2/rating.csv'

df_movies = pd.read_csv(
    os.path.join(data_path, movies_filename),
#     movies_filename,
    usecols=['movieId', 'title'],
    dtype={'movieId': 'int32', 'title': 'str'})
df_ratings = pd.read_csv(
    os.path.join(data_path, ratings_filename),
#     ratings_filename,
    usecols=['userId', 'movieId', 'rating'],
    
    dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

In [ ]:
df_ratings=df_ratings[:2000000]
df_movie_features = df_ratings.pivot(
    index='userId',
    columns='movieId',
    values='rating'
).fillna(0)

In [ ]:
df_movie_features.head()

movieId  1       2       3       4       ...  130512  130642  130644  130768
userId                                   ...
1           0.0     3.5     0.0     0.0  ...     0.0     0.0     0.0     0.0
2           0.0     0.0     4.0     0.0  ...     0.0     0.0     0.0     0.0
3           4.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
5           0.0     3.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 16715 columns]

In [ ]:
R = df_movie_features.to_numpy()
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [ ]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)

In [ ]:
sigma = np.diag(sigma)

In [ ]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [ ]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = df_movie_features.columns)
preds_df.head()

movieId    1         2         3       ...    130642    130644    130768
0       -1.032371  0.816785  0.065364  ... -0.006603 -0.001093 -0.002193
1        0.878409  0.018589  0.350089  ...  0.001166 -0.000476  0.000287
2        2.004502  0.853211 -0.124892  ... -0.001381 -0.001391  0.000514
3       -0.730042  0.575875  0.316375  ...  0.001607  0.002382  0.001786
4        1.487824  1.324306  1.370971  ...  0.001492  0.001601  0.001771

[5 rows x 16715 columns]

In [ ]:
def recommend_movies(preds_df, userID, movies_df, original_ratings_df, num_recommendations=5):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # accounting for index 0
    sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False) 
    # Get the user's data and merge in the movie information.
    user_data = original_ratings_df[original_ratings_df.userId == (userID)]
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'movieId', right_on = 'movieId').
                     sort_values(['rating'], ascending=False)
                 )
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies_df[~movies_df['movieId'].isin(user_full['movieId'])]).merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left', left_on = 'movieId',
               right_on = 'movieId').rename(columns = {user_row_number: 'Predictions'}).sort_values('Predictions', ascending = False).iloc[:num_recommendations, :-1]
                      

    return user_full, recommendations

In [ ]:
already_rated, predictions = recommend_movies(preds_df, 335, df_movies, df_ratings, 10)

In [ ]:
already_rated.head(10)

    userId  movieId  rating                                              title
98     335     2010     5.0                                  Metropolis (1927)
48     335     1206     5.0                         Clockwork Orange, A (1971)
49     335     1208     5.0                              Apocalypse Now (1979)
30     335      924     5.0                       2001: A Space Odyssey (1968)
29     335      923     5.0                                Citizen Kane (1941)
28     335      920     5.0                          Gone with the Wind (1939)
27     335      912     5.0                                  Casablanca (1942)
50     335     1209     5.0  Once Upon a Time in the West (C'era una volta ...
24     335      858     5.0                              Godfather, The (1972)
52     335     1214     5.0                                       Alien (1979)

In [ ]:
predictions

      movieId                                      title
1032     1089                      Reservoir Dogs (1992)
101       110                          Braveheart (1995)
1145     1233               Boot, Das (Boat, The) (1981)
2556     2762                    Sixth Sense, The (1999)
2201     2396                 Shakespeare in Love (1998)
1186     1288                  This Is Spinal Tap (1984)
743       778                       Trainspotting (1996)
29         32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
1626     1784                  As Good as It Gets (1997)
1153     1244                           Manhattan (1979)

In [ ]:
def svd(train, k):
    utilMat = np.array(train)
    # the nan or unavailable entries are masked
    mask = np.isnan(utilMat)
    masked_arr = np.ma.masked_array(utilMat, mask)
    item_means = np.mean(masked_arr, axis=0)
    # nan entries will replaced by the average rating for each item
    utilMat = masked_arr.filled(item_means)
    x = np.tile(item_means, (utilMat.shape[0],1))
    # we remove the per item average from all entries.
    # the above mentioned nan entries will be essentially zero now
    utilMat = utilMat - x
    # The magic happens here. U and V are user and item features
    U, s, V=np.linalg.svd(utilMat, full_matrices=False)
    s=np.diag(s)
    # we take only the k most significant features
    s=s[0:k,0:k]
    U=U[:,0:k]
    V=V[0:k,:]
    s_root=sqrtm(s)
    Usk=np.dot(U,s_root)
    skV=np.dot(s_root,V)
    UsV = np.dot(Usk, skV)
    UsV = UsV + x
    print("svd done")
    return UsV

# Load Data

In [ ]:
#Combining data
df=filtered_dates
df=pd.merge(df, movie_titles_df, on= 'movie_id')
df.head()

   movie_id  customer_id  rating       date  year_of_release      movie_title
0         1        30878       4 2005-12-26           2003.0  Dinosaur Planet
1         1      1245640       3 2005-12-19           2003.0  Dinosaur Planet
2         1      2647871       4 2005-12-30           2003.0  Dinosaur Planet
3         1       883478       4 2005-12-16           2003.0  Dinosaur Planet
4         1      2354601       5 2005-12-10           2003.0  Dinosaur Planet

In [ ]:
df.shape

(503615, 6)

In [ ]:
sparse = filtered_dates.pivot(index='customer_id', columns='movie_id', values='rating').fillna(0)
sparse

movie_id     1     2     3     4     5     ...  4495  4496  4497  4498  4499
customer_id                                ...
6             0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
116           0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
126           0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
133           0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
134           0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
...           ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
2649285       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
2649328       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
2649351       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
2649401       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
2649429       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0

[101209 rows x 4379 columns]

In [ ]:
R = sparse.to_numpy() #convert to matrix
user_ratings_mean = np.mean(R, axis=1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [ ]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)
# that the Sigma$ returned is just the values instead of a diagonal matrix. 
# This is useful, but since I'm going to leverage matrix multiplication to get predictions 
# I'll convert it to the diagonal matrix form.
sigma = np.diag(sigma)
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [ ]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = sparse.columns)
preds_df.head()

movie_id      1         2         3     ...      4497      4498      4499
0         0.000832 -0.002464  0.000634  ...  0.005344  0.000301 -0.002748
1         0.000053  0.001875 -0.000104  ... -0.000261  0.000324  0.001724
2         0.000561  0.000354  0.000459  ...  0.000640  0.000467  0.000356
3         0.000590  0.000529  0.000572  ...  0.000564  0.000618  0.000525
4        -0.000531 -0.001154 -0.000061  ...  0.000499 -0.000594 -0.001202

[5 rows x 4379 columns]

# Make Predictions

In [ ]:
def recommend_movies(preds_df, userID, movies_df, original_ratings_df, num_recommendations=5):
    
    # Get and sort the user's predictions
    user_row_number = 13368 # 1st id in our condensed dataset
    sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False) # UserID starts at 1
#     print(preds_df.iloc[user_row_number])
#     print(sorted_user_predictions)
    # Get the user's data and merge in the movie information.
    user_data = original_ratings_df[original_ratings_df.columns == (userID)]
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'movieId', right_on = 'movieId').
                     sort_values(['rating'], ascending=False)
                 )
#     print(user_full)
#     print 'User {0} has already rated {1} movies.'.format(userID, user_full.shape[0])
#     print 'Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations)
    #                left_on = 'movieId',
#                right_on = 'movieId').
# merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left').rename(columns = {user_row_number: 'Predictions'}).
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies_df[~movies_df['movieId'].isin(user_full['movieId'])]).merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left', left_on = 'movieId',
               right_on = 'movieId').rename(columns = {user_row_number: 'Predictions'}).sort_values('Predictions', ascending = False).iloc[:num_recommendations, :-1]
                      

    return user_full, recommendations

In [ ]:
already_rated, predictions = recommend_movies(preds_df, 13378, filtered_dates, sparse, 10)

ValueError: ignored

# Collab filtering

In [ ]:
#Combining data
#using previous combined data df
df.head()

   movie_id  customer_id  rating       date  year_of_release      movie_title
0         1        30878       4 2005-12-26           2003.0  Dinosaur Planet
1         1      1245640       3 2005-12-19           2003.0  Dinosaur Planet
2         1      2647871       4 2005-12-30           2003.0  Dinosaur Planet
3         1       883478       4 2005-12-16           2003.0  Dinosaur Planet
4         1      2354601       5 2005-12-10           2003.0  Dinosaur Planet

## Check Data

In [ ]:
#Checking df
df.describe()

            movie_id   customer_id         rating  year_of_release
count  503615.000000  5.036150e+05  503615.000000    503613.000000
mean     2395.323289  1.316493e+06       3.656517      1993.969534
std      1303.515536  7.659066e+05       1.076384        13.339720
min         1.000000  6.000000e+00       1.000000      1916.000000
25%      1256.000000  6.478700e+05       3.000000      1990.000000
50%      2422.000000  1.317124e+06       4.000000      1999.000000
75%      3579.000000  1.980785e+06       4.000000      2003.000000
max      4499.000000  2.649429e+06       5.000000      2005.000000

In [ ]:
#creating average mean rating of movie_title
#ratings = pd.DataFrame(entire_data_df.groupby('movie_title')['rating'].mean())
ratings = pd.DataFrame(df.groupby('movie_title')['rating'].mean())
#adding number of ratings on movie
ratings['number_of_ratings']=df.groupby('movie_title')['rating'].count()
ratings.head()

                               rating
movie_title
'N Sync: 'N the Mix          2.000000
'N Sync: PopOdyssey Live     3.000000
... And God Spoke            3.250000
10                           3.345455
10 Minute Solution: Pilates  3.666667

## Recommendation

In [ ]:
#making matrix

matrix= df.pivot_table(index='customer_id', columns='movie_title', values='rating')
#matrix= df_movie_features.pivot_table(index='userId', columns='movieId', values='rating')
matrix.head(10)

In [ ]:
#most rated movie
ratings.sort_values('number_of_ratings', ascending=False).head(10)

                                                      rating  number_of_ratings
movie_title
Batman Begins                                       4.117380              11024
The Hitchhiker's Guide to the Galaxy                3.019961               4058
The Bourne Supremacy                                3.981936               3543
Bruce Almighty                                      3.406569               3136
Shrek 2                                             3.994484               3082
Pirates of the Caribbean: The Curse of the Blac...  4.191552               3054
Eternal Sunshine of the Spotless Mind               3.645194               2996
Napoleon Dynamite                                   3.329880               2992
Sideways                                            3.299966               2977
50 First Dates                                      3.603671               2942

##Making Recommendation Similar to "Input"

In [ ]:
#Making Recommendation by input
input='The Bourne Supremacy'
input_rating = matrix[input]

In [ ]:
#Finding similar movie
similar_to_input = matrix.corrwith(input_rating)
similar_to_input.head()

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

movie_title
'N Sync: 'N the Mix           NaN
'N Sync: PopOdyssey Live      NaN
... And God Spoke             NaN
10                            NaN
10 Minute Solution: Pilates   NaN
dtype: float64

##Threshold for min num of ratings

In [ ]:
#create dataframe
sim_input = pd.DataFrame(similar_to_input, columns=['Correlation'])
sim_input.dropna(inplace=True)
sim_input.head()

                                             Correlation
movie_title
10 Things I Hate About You                      0.242775
101 Dalmatians II: Patch's London Adventure     0.622665
11:14                                           0.430327
13 Ghosts                                       0.499046
18 Again                                        0.128624

In [ ]:
#adding in ratings
sim_input = sim_input.join(ratings['number_of_ratings'])
sim_input.head()

                                             Correlation  number_of_ratings
movie_title
10 Things I Hate About You                      0.242775               1347
101 Dalmatians II: Patch's London Adventure     0.622665                150
11:14                                           0.430327               1053
13 Ghosts                                       0.499046                230
18 Again                                        0.128624                 28

In [ ]:
sim_input[sim_input['number_of_ratings']>500].sort_values(by='Correlation',ascending=False).head(10)

                         Correlation  number_of_ratings
movie_title
The Bourne Supremacy        1.000000               3543
The Missing                 0.514721                616
The Recruit                 0.505970               1098
Firefly                     0.497693                648
Taking Lives                0.467793               1242
The Italian Job             0.462978               2167
The Matrix: Revolutions     0.456968                895
Armageddon                  0.444099                524
11:14                       0.430327               1053
Rush Hour 2                 0.423282               1012